*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;

}

body{
  background-color: #e6dfad;
}

h1{
    background-color: #7D9D9C;
    font-family: 'Lobster', cursive;
    text-align: center;
    margin-bottom: 30px;
}

header nav ul{
    column-gap: 80px;
    display: flex;
    justify-content: center;
 

}

header nav ul li{
    font-family: 'Lobster', cursive;
    list-style: none;
    background-color: #7D9D9C;
    border-radius: 20px;
    margin-bottom: 50px;
    
}

nav ul li a{
  color: black;
}

.bg-menu{
  background-color: #FFF9CA;
}

.logo{
  width: 300px;
  height: 60px;
}


.imgStand{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.imgBanner{
  width: 1000px;
  height: 600px;
  justify-items: center;
}

.classIframe{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

iframe{
  height: 400px;
  width: 650px;
}

/* ESTILOS DE FOOTER */

footer{
    font-family: 'Lobster', cursive;
    background-color: #FFF9CA;
    text-align: center;
    
}


/* ESTILOS DE GALERÍA.HTML */

body {
    margin: 0;
    font-family: Arial;
    background: #E4DCCF;
  }


  .header {
    text-align: center;
   
    background: #E0DDDD;
  }
  
  
  #gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 4px;
  }
  
  #gallery img {
    width: 25%;
    height: 300px;
    object-fit: cover;
    margin-top: 8px;
    padding: 0 4px;
    border-radius: 10px;
  }


/* ESTILOS INSUMOS.HTML */

.card-azucar{
  text-align: center;
}
.card-aceite{
  text-align: center;
}
.card-maiz{
  text-align: center;
}
.card-esencia{
  text-align: center;
}

.iframe-insumos{
  margin-top: 30px;
}

.pInsumos{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

/* ESTILOS NOSOTROS.HTML */

.pNosotros{
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;

}


.iframe-nosotros{
  margin-top: 20px;
}

/* ESTILOS CONTACTO.HTML */

.pContacto{
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);


body{
	height: 90px; 
	font-family: 'Noto Sans', sans-serif;
  
}



.contact_form{	
	width: 460px; 
  height: auto;
  margin: 80px auto;
	border-radius: 10px;  
	padding-top: 30px;
	padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
}


input{
	background-color: #fbfbfb; 
	width: 408px; 
	height: 40px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: black; 
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
	width: 405px; 
	height: 150px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: black; 
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
	float: center; 	
}


button{
	height: 45px; 
	padding-left: 5px;
	padding-right: 5px; 	
	margin-bottom: 20px; 
	margin-top: 10px; 	
	text-transform: uppercase;
	background-color: black;  
	border-style: solid; 
	border-radius: 10px;	
	width: 420px;   
  cursor: pointer;
}


button p{
	color: #fff; 
}



.aviso{
	font-size: 13px;  
	color: #0e0e0e;  
}


h1{
	font-size: 39px;  
	text-align: letf; 
	padding-bottom: 20px; 
	color: black;
}


h3{
	font-size: 16px; 
	padding-bottom: 30px;
	color: #0e0e0e;   
}


p{
	font-size: 14px; 
	color: #0e0e0e; 
}




  /* MEDIA QUERIES */


  
  @media (max-width: 800px) {
    #gallery img {
      width: 50%;
    }
  }
  
  @media (max-width: 600px) {
    #gallery img {
      width: 100%;
    }
  }
  
  @media (max-width: 800px) {
    .imgStand {
      width: 50%;
    }
  }
  
  @media (max-width: 600px) {
    .imgStand {
      width: 100%;
    }
  }

  @media (max-width: 600px) 
   {
    header nav ul{
      column-gap: 20px;
      display: flex;
      justify-content: center;
   
  
  }
  
  header nav ul li{
      font-family: 'Lobster', cursive;
      list-style: none;
      background-color: #7D9D9C;
      border-radius: 20px;
      margin-bottom: 50px;
  }

  .imgBanner{
    margin-left: 6px;
    width: 400px;
    height: 350px;
  }

  .flexParrafo{
    width: 90%;
    display: flex;
    font-size: 14px;
    text-align: center;

  }
  .classIframe{
    position: relative;
    padding-bottom: 56,25%;
    padding-top: 300px;
    height: 0px;
  }

.classIframe iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  margin-top: 50px;
}

  }

   
    