/*VARIABLES*/
/*ESTILOS DEL BODY*/
body {
  background-color: #F5E8C7; }

.vasocopo:hover {
  transform: scale(0.9);
  box-shadow: 1px 1px 10px black; }

.cajapochoclos:hover {
  transform: scale(0.9);
  box-shadow: 1px 1px 10px black; }

.bolsonPochoclos:hover {
  transform: scale(0.9);
  box-shadow: 1px 1px 10px black; }

.algodonBolsa:hover {
  transform: scale(0.9);
  box-shadow: 1px 1px 10px black; }

.azucar:hover {
  transform: scale(0.9);
  box-shadow: 1px 1px 10px black; }

.aceite:hover {
  transform: scale(0.9);
  box-shadow: 1px 1px 10px black; }

.maiz:hover {
  transform: scale(0.9);
  box-shadow: 1px 1px 10px black; }

.esencia:hover {
  transform: scale(0.9);
  box-shadow: 1px 1px 10px black; }

/*ESTILOS DEL H1*/
h1 {
  font-family: "Lobster", cursive;
  text-align: center;
  margin-bottom: 30px; }

/*ESTILOS DEL HEADER*/
header {
  background-color: #AC7088; }
  header nav ul {
    margin-top: 30px;
    column-gap: 80px;
    display: flex;
    justify-content: center; }
  header nav li {
    font-family: "Lobster", cursive;
    list-style: none;
    background-color: #DEB6AB;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 5px; }
  header nav a {
    color: black; }
  header nav .logo {
    width: 80px;
    height: 80px; }

.pNosotros {
  font-family: 'Caveat', cursive;
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 100px;
  margin-right: 100px; }

.pInsumos {
  font-weight: bold;
  font-family: 'Caveat', cursive;
  text-transform: uppercase;
  text-align: center;
  margin: 30px; }

.pGaleria {
  font-family: 'Caveat', cursive;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin: 30px; }

.pIndex {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 50px; }

.tituloContacto {
  font-family: 'Caveat', cursive;
  text-transform: uppercase; }

.imgStand {
  width: 500px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 50px; }

.imgBanner {
  width: 1000px;
  height: 600px;
  justify-items: center; }

.classIframe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px; }

iframe {
  margin: 20px;
  height: 300px;
  width: 525px; }

/*ESTILOS DE CONTACTO*/
.contenedor {
  margin: 50px auto;
  width: 500px;
  padding: 50px;
  background: #AC7088;
  border-radius: 35px; }

.contenedor h2 {
  margin: 0 0 30px;
  padding: 0;
  font-size: 30px;
  color: black;
  text-align: center; }

.contenedor .elemento label {
  color: black; }

.contenedor .elemento input {
  width: 95%;
  padding: 10px 0;
  color: black;
  background: #F5E8C7;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 30px; }

.contenedor .elemento input[type="submit"] {
  background-color: #F5E8C7;
  border: none;
  border-radius: 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px;
  margin-top: 30px; }

.select-css {
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: #450;
  line-height: 1.5;
  padding: 10px;
  width: 365px;
  max-width: 100%;
  box-sizing: border-box;
  margin: 15px -5px;
  border: 1px solid black;
  border-radius: 5px;
  appearance: none;
  background-color: #F5E8C7; }

.recibir-email {
  color: black; }

.contenedor .elemento input[type="reset"] {
  background-color: #F5E8C7;
  border: none;
  border-radius: 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px;
  margin-top: 30px; }

.textArea {
  margin: 10px 10px 10px 0px;
  background-color: #F5E8C7;
  box-sizing: border-box;
  min-height: 100px;
  max-height: 250px;
  max-width: 100%; }

/*ESTILOS DEL FOOTER*/
footer {
  font-family: "Lobster", cursive;
  background-color: #AC7088;
  text-align: center; }
  footer .imginsta {
    margin-left: 30px;
    margin-right: 30px; }

/*MEDIA QUERIES*/
@media screen and (max-width: 600px) {
  .contenedor {
    width: 400px; }
  iframe {
    width: 400px; } }
